<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" /> <!-- https://getbootstrap.com/ -->
    <link href="static/fontawesome/css/all.min.css" rel="stylesheet" /> <!-- https://fontawesome.com/ -->
    <link href="static/slick/slick.css" rel='stylesheet' /> <!-- https://kenwheeler.github.io/slick/ -->
    <link href="static/slick/slick-theme.css" rel='stylesheet' />
    <link href="static/css/templatemo-real-dynamic.css" rel="stylesheet" />
<!--

TemplateMo 547 Real Dynamic

https://templatemo.com/tm-547-real-dynamic

-->
</head>

<body>
    <div class="tm-container">
        <div class="tm-site-header"></div> <!-- tm-site-header -->
        <div class="tm-site-header-overlay">
            <div class="tm-header-stripe ml-auto"></div>
            <div class="tm-header-stripe tm-header-stripe-short ml-auto"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 tm-site-header-left">
                        <h1 class="text-uppercase tm-site-name">Detection and Classification of Skin Diseases</h1>
                        
                    </div>
                    <div class="col-lg-8 tm-site-header-right">
                        <!--Navbar-->
                        <nav class="navbar navbar-expand-lg">
                            <!-- Collapse button -->
                            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation"><span class="dark-blue-text"><i
                                        class="fas fa-bars text-white"></i></span></button>
                            <!-- Collapsible content -->
                            <div class="collapse navbar-collapse tm-nav" id="navbarNav">
                                <!-- Links -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link tm-nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link tm-nav-link" href="/logon">Signup</a>
                                    </li>
                                </ul>
                                <!-- Links -->
                            </div>
                            <!-- Collapsible content -->
                        </nav>
                        <!--/.Navbar-->
                    </div> <!-- col -->
                </div> <!-- row -->
            </div> <!-- container fluid -->
        </div> <!-- tm-site-header-overlay -->
        <div class="tm-header-stripe w-100"></div>
    </div>
    <div class="tm-container">
        <div class="parallax-window" data-parallax="scroll" data-image-src="static/img/skin1.jpg">
        </div>
    </div>

    <div class="tm-container bg-white">
        <div class="tm-header-stripe w-100"></div>
        <div class="container-fluid">
            <!--Intro-->
            <section class="row tm-mb-1">
                <h2 class="col-12 text-center tm-text-primary tm-my-1 tm-intro-text">Introducing</h2>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-truck-moving fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Skin Disorder</h3>
                        <p>Some of the most common skin diseases include: Acne, blocked skin follicles that lead to oil, bacteria and dead skin buildup in your pores. Alopecia areata, losing your hair in small patches. Atopic dermatitis (eczema), dry, itchy skin that leads to swelling, cracking or scaliness.</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-box-open fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Image Processing</h3>
                        <p>
                            Image processing is a method to perform some operations on an image, in order to get an enhanced image or to extract some useful information from it. It is a type of signal processing in which input is an image and output may be image or characteristics/features associated with that image.</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="tm-box-1">
                        <i class="fas fa-people-carry fa-4x tm-icon-1"></i>
                        <h3 class="tm-h3 tm-text-primary">Deep Learning</h3>
                        <p>Deep learning is a type of machine learning and artificial intelligence (AI) that imitates the way humans gain certain types of knowledge. Deep learning is an important element of data science, which includes statistics and predictive modeling.</p>
                    </div>
                </div>
            </section>

            <!-- Services -->
            <div class="row tm-mb-1">
                

           
        </div> <!-- container-fluid -->
    </div> <!-- tm-container -->
    <br><br><br><br>
    <footer class="row">
        <p class="mb-0 w-100 text-center col-12">
            Company &copy; 2023
            
            - Real Dynamic by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link">TemplateMo</a>
        </p>
    </footer>
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/parallax.min.js"></script> <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="static/slick/slick.min.js"></script>
    <script src="static/js/tooplate-script.js"></script>
    <script>
        $(document).ready(function () {
            // Testimonials carousel
            $('.tm-carousel').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 1,
                slidesToScroll: 1
            });
        });
    </script>
</body>
</html>